.container {
	background-color:  white;
	margin: 180px auto;
	padding:  10px;
	width:  30%;
	height:  400px;
	text-align:  center;
	box-shadow:0px 0px 5px 5px rgba(15, 13, 14, 0.8);
	border-radius:  10px;
	font-family:  Arial, sans-serif;
}

.loginBox {
	vertical-align: middle;
}

.center {
	margin-top:  70px;
}

.error {
	font-weight:  bold;
	color:  RED;
}

body {
	background-color:  rgba(19, 17, 18, 0.8);
}


#submitButton {
	background-color: rgba(81, 209, 221, 0.8);
	border:  none;
	width:  175px;
	height:  25px;
	border-radius:  10px;
	margin-top:  10px;
	margin-right:  auto;
	margin-left:  auto;
}

#submitButton:hover {
	cursor: pointer;
	background-color: rgba(25, 120, 129, 0.8);
}